@{
    ViewBag.Title = "Other";
}

<h2>Other stuff</h2>

<div class="old-shop">
    <h3>Old shop</h3>
    <ul>
        <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
        <li>@Html.ActionLink("Products", "Index", "Products")</li>
    </ul>
    
    <h3>Knockout</h3>
    @Html.ActionLink("Knockout start", "Index", "KnockoutTests")
    @Html.ActionLink("Knockout step2", "Step2", "KnockoutTests")
</div>