@{
    ViewBag.Title = "Change culture";
}

<h2>Change culture</h2>

<div class="change-culture">
    <div>
    @foreach (var culture in Andriy.Mvc4Application1.Localization.Culture.Cultures)
    {
        @Html.ActionLink(
            culture.Name, 
            HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString(), 
            new
                {
                    controller=HttpContext.Current.Request.RequestContext.RouteData.Values["controller"] as string,
                    id = HttpContext.Current.Request.RequestContext.RouteData.Values["id"] as string,
                    culture = culture.Key
                })
        <br />
    }
    </div>
</div>