@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="shop">
    <h3>Shop</h3>
    <ul>
        <li>@Html.ActionLink("Categories", "Index", "ShopCategory")</li>
        <li>Products</li>
    </ul>
</div>