@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h3>Shop</h3>
    <ul>
        <li>@Html.ActionLink("Categories", "Index", "ShopCategory")</li>
        <li>@Html.ActionLink("Products", "Index", "ShopProduct")</li>
    </ul>
</div>