@{
    ViewBag.Title = "Index";
}

<h2>Admin area</h2>

<div>Assembly version: @ViewBag.Version</div>    

<div>@Html.ActionLink("Show logs", "ShowLogs")</div>
<div>@Html.ActionLink("Show uploads", "ShowUploads")</div>
